#navbar {
    top: calc(var(--header-height) + 1px);
    position: sticky;
    height: calc(100vh - var(--header-height) - 1px);
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: var(--navbar-border-color);
    width: var(--navbar-width);
    background-color: var(--navbar-color);
}

#navbar ul {
    padding: 0;
    font-weight: normal;
}

#navbar .main-list {
    list-style-type: none;
}

#navbar .main-list li {
    padding: 9px 9px 9px 9px;
}

#navbar a {
    padding: 9px 9px 9px 18px;
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

#navbar a:hover:not(.active) {
    background-color: var(--navbar-hover);
}

#navbar a svg {
    color: gray;
    font-size: 20px
}


/* when click link (feature of NavLink) */
#navbar a.active {
    background-color: var(--light-blue);
}

#navbar a.active div, #navbar a.active svg{
    color: var(--blue);
}

